{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Chateau De Beau</title>
<link rel="stylesheet" href="{% static 'construction/main.css' %}" type="text/css" />

<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lte IE 7]>
  <script src="js/IE8.js" type="text/javascript"></script><![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->
</head>

<body>
  <div class="center">
    <img src="{% static 'construction/tie.jpg' %}" height="200" width="300">
    <h1>Chateau de Beau</h1>
    <h2>Coming Soon</h2>
  </div>
</body>
</html>
